@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.large-text {
  @apply text-lg
}

.svgButton {
  @apply cursor-pointer
}

/* -------------------- modal -------------------- */

#modal-container {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
}

#modal-content {
  background: #fff; /* White background for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}

#modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border-bottom: 1px solid #83a4a9;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

#taskForm, #categoryForm {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input, textarea {
  border: 2px solid #8396a9;
  border-radius: 5px;
  background-color: #f7fbff;
}

.modal-button {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #4697cd;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

button#cancel {
  background-color: #c7c7c7;
  color: black;
}

button#cancel:hover {
  background-color: #aeaeae;
}

.color-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
}

.color-square {
  width: 100%;
  padding-top: 100%;
  border: 3px solid black;
  border-radius: 17px;
}

.color-square.selected {
  opacity: 70%;
}

/* -------------------- categories list --------------------  */

.myCategories {
  padding: 5px;
  margin: 5px 0px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.defaultCategory {
  justify-content: unset;
  gap: 10px;
  font-weight: 500;
}

.svgButtonContainer {
  display: flex;
  flex-direction: row;
}

span{
  overflow: hidden;
  text-overflow: ellipsis;
}

.categorySelected {
  box-shadow: 1.2px 2.4px 2.4px hsl(0deg 0% 0% / 0.46);
}